
@{
    ViewBag.Title = "NotEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Öğrenci</label>
        <input type="text" class="form-control" name="OgrenciID" />
    </div>
    <div style="margin-top: 10px;">
        <label>Ders</label>
        <input type="text" class="form-control" name="DersID" />
    </div>
    <div style="margin-top: 10px;">
        <label>Sınav 1</label>
        <input type="text" class="form-control" name="Sinav1" />
    </div>
    <div style="margin-top: 10px;">
        <label>Sınav 2</label>
        <input type="text" class="form-control" name="Sinav2" />
    </div>
    <div style="margin-top: 10px;">
        <label>Sınav 3</label>
        <input type="text" class="form-control" name="Sinav3" />
    </div>
    <div style="margin-top: 10px;">
        <label>Proje</label>
        <input type="text" class="form-control" name="Proje" />
    </div>
    <div style="margin-top: 10px;">
        <label>Ortalama</label>
        <input type="text" class="form-control" name="Ortalama" />
    </div>
    <div style="margin-top: 10px;">
        <label>Durum</label>
        <input type="text" class="form-control" name="Durum" />
    </div>
    <div style="margin-top: 10px;">
        <button class="btn btn-primary">Sınav Ekle</button>
    </div>
</form>